.App {
  width: 95%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap:20px
}

.title {
  font-weight: 700;
}

.slider {
  width: 100%;
}
.labels {
  display: flex;
  justify-content: space-between;
}

.tenureContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.tenure{
  width: 15%;
  height: 50px;
  border: none;
  border-radius: 100px;
  background-color: white;
}
.selected {
  background-color: aqua;
  color: white;
}